<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/images/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/nav.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/home.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/ifroutes.css" type="text/css">
    <title>IF Routes</title>
</head>
<body>
    <nav>
    <a href="../index.html">
      <img class="logo" src="../assets/images/gluttonylogo.jpg" alt="AURA MONSTER LOGO">
    </a>
    <ul>
      <li><a href="../index.html">Home</a></li>
      <li><a href="./aura.html">Aura</a></li>
      <li><a href="./monster.html">Monster</a></li>
      <li><a href="./feats.html">Feats</a></li>
      <li><a href="./stairs.html">Stairs</a></li>
      <li><a href="./ifroutes.html">IF Routes</a></li>
    </ul>
  </nav>
  <div class="divider div-transparent"></div>
  <header>
    <h1>IF Routes</h1>
    <h4>Pride - Wrath - Sloth - Greed - Gluttony</h4>
    <div class="hero overtext">
      <img src="../assets/images/gluttonyif.jpg" alt="GLUTTONY IF">
      <h1>GLUTTONY IF</h1>
    </div>
    <p>In this section I'd like to talk about the various IF routes that Daniel has taken throughout his life. As the main Route is Envy, and we all know about his various endevours climbing stairs, I shall talk about the other Routes, Pride, Wrath, Sloth, Greed and Gluttony. <mark>The Butterfly Dream is ultimately not canon.</mark></p>
  </header>
  <div class="divider div-transparent"></div>
  <main>
    <div class="wrapper">
      <div class="btn left">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
        </svg>
      </div>
      <div class="carousel">
        <img src="../assets/images/prideif.jpg" alt="Pride IF">
        <img src="../assets/images/wrathif.jpg" alt="Wrath IF">
        <img src="../assets/images/slothif2.jpg" alt="Sloth IF">
        <img src="../assets/images/greedif3.jpg" alt="Greed IF">
        <img src="../assets/images/gluttonyshaula.jpg" alt="Gluttony IF">
      </div>
      <button class="btn right">&gt;</button>
    </div>
  </main>
</body>
</html>