<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/images/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/nav.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/home.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/ifroutes.css" type="text/css">
    <title>IF Routes</title>
</head>
<body>
    <nav>
    <a href="../index.html">
      <img class="logo" src="../assets/images/gluttonylogo.jpg" alt="AURA MONSTER LOGO">
    </a>
    <ul>
      <li><a href="../index.html">Home</a></li>
      <li><a href="./aura.html">Aura</a></li>
      <li><a href="./monster.html">Monster</a></li>
      <li><a href="./feats.html">Feats</a></li>
      <li><a href="./stairs.html">Stairs</a></li>
      <li><a href="./ifroutes.html">IF Routes</a></li>
    </ul>
  </nav>
  <div class="divider div-transparent"></div>
  <header>
    <h1>IF Routes</h1>
    <h4>Pride - Wrath - Sloth - Greed - Gluttony</h4>
    <div class="hero overtext">
      <img src="../assets/images/gluttonyif.jpg" alt="GLUTTONY IF">
      <h1>GLUTTONY IF</h1>
    </div>
    <p>In this section I'd like to talk about the various IF routes that Daniel has taken throughout his life. As the main Route is Envy, and we all know about his various endevours climbing stairs, I shall talk about the other Routes, Pride, Wrath, Sloth, Greed and Gluttony. <mark>The Butterfly Dream is ultimately not canon.</mark></p>
  </header>
  <div class="divider div-transparent"></div>
  <main>
    <div class="wrapper">
      <div class="btn left">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
        </svg>
      </div>
      <div class="carousel">
        <div class="slides">
          <img src="../assets/images/prideif.jpg" alt="Pride IF">
          <div class="cards">
            <h3>Pride IF</h3>
            <p>This guy is none other than one of the coolest Barus, his wife is Elsa Granhiert.</p>
          </div>
        </div>
        <div class="slides">
          <img src="../assets/images/wrathif.jpg" alt="Wrath IF">
          <div class="cards">
            <h3>Wrath IF</h3>
            <p>This is Japanese Daniel, I think he likes Ram or smt. He also has two guards for some reason, Halibel the Admirer and Cecilus Segmund.</p>
          </div>
        </div>
        <div class="slides">
          <img src="../assets/images/slothif2.jpg" alt="Sloth IF">
          <div class="cards">
            <h3>Sloth IF</h3>
            <p>This pussy doesn't deserve his own picture, good for him though.</p>
          </div>
        </div>
        <div class="slides">
          <img src="../assets/images/greedif3.jpg" alt="Greed IF">
          <div class="cards">
            <h3>Greed IF</h3>
            <p>This Daniel is definetly the fans' favourite, prob cuz he bags Echidna or smt.</p>
          </div>
        </div>
        <div class="slides">
          <img src="../assets/images/gluttonyshaula.jpg" alt="Gluttony IF">
          <div class="cards">
            <h3>Gluttony IF</h3>
            <p>We still need to get to the point in the story in arc 6 whre it diverges from the normal path so idk.</p>
          </div>
        </div>
        <div class="slides">
          <img src="../assets/images/butlersubaru.jpg" alt="Butler Subaru">
          <div class="cards">
            <h3>Envy IF</h3>
            <p>I had to add the Envy Route and Daniel def looks best in his butler outfit.</p>
          </div>
        </div>
        <div class="slides">
          <img src="../assets/images/otto.jpg" alt="Otto (Pandora)">
          <div class="cards">
            <h3>Pandora</h3>
            <p>As we all know, Otto is Pandora, but he is also Patrasche and who demonstrated to be this specific Earth Dragon if not Daniel humself?? Subaru is Pandora 100% confirmed I'm Tappei</p>
          </div>
        </div>
      </div>
      <div class="btn right">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>
      </div>
    </div>
  </main>
  <footer>
    <p>&copy; 2026 AURA MONSTER. All rights reserved.</p>
  </footer>
  <a href="#top" class="btn-fixed">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
    </svg>
  </a>
</body>

<script>
  const carousel = document.querySelector('.carousel');
  const leftBtn = document.querySelector('.btn.left');
  const rightBtn = document.querySelector('.btn.right');
  leftBtn.addEventListener('click', () => {
    carousel.scrollBy({ left: -300, behavior: 'smooth' });
  });
  rightBtn.addEventListener('click', () => {
    carousel.scrollBy({ left: 300, behavior: 'smooth' });
  });
</script>
<!--da ripassare python, this shi is basically the same as that-->

</html>