:root{
    --black: #000000;
    --green: #9ce400;
    --greenbg: rgb(34, 49, 1);
    --graygreen: rgba(97, 142, 0, 0.7);
    --text: #edffc7;
    --orange: #FDB275;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-selection {
    color: var(--greenbg);
    background: var(--green);
}

::selection {
    color: var(--greenbg);
    background: var(--green);
}

* {
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: var(--greenbg);
    color: var(--text);
    height: 100vh;
    width: 100vw;
}

body::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

h1,h2,h4{
    text-align: center;
    color: var(--green)
}

.divider{
	position: relative;
	height: 1px;
}

.div-transparent:before{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 3px;
	background-image: linear-gradient(to right, transparent, var(--graygreen), transparent);
}

.div-arrow-down:after{
	content: "";
	position: absolute;
	z-index: 1;
	top: -7px;
	left: calc(50% - 7px);
	width: 14px;
	height: 14px;
	transform: rotate(45deg);
	background-color: var(--greenbg);
	border-bottom: 1px solid var(--graygreen);
	border-right: 1px solid var(--graygreen);
}

mark{
    background-color: transparent;
    color: var(--green);
}

a{
    text-decoration: none;
}

img{
    display: block;
    -webkit-user-drag: none;
    user-select: none;
    cursor:pointer;
}

footer{
    text-align: center;
    padding: 1rem;
    color: var(--text);
}

@font-face {
    font-family: 'Poppins';
    src: url(../font/Poppins-Regular.ttf) format('truetype');
}