:root{
    --black: #000000;
    --green: #9ce400;
    --greenbg: rgb(34, 49, 1);
    --text: #edffc7;
    --orange: #FDB275;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-color: var(--greenbg);
    color: var(--text);
}

mark{
    background-color: transparent;
    color: var(--green);
}

a{
    text-decoration: none;
}

img{
    display: block;
}

@font-face {
    font-family: 'Poppins';
    src: url(../font/Poppins-Regular.ttf) format('truetype');
}